
/* general */
html, body {
    margin:0;
    padding:0;

}

body {
    background-color:  #525659;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #000000;
    padding-top:50px;
    padding-bottom:50px;
}

.clear {
    width:100%;
    height: 20px;
}

.no-padding {
    padding:0 !important;
}

.top-blue-border {
    border-top: 10px solid #548DD4;
}
.top-blue-border h3 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 25pt;    
}

.padding-20 {
    padding:20px;
}

.boldest {
    font-weight: 800;
}

.alone {
   margin-right: 15px;
}

.custom-border-left {
    border-left: 1px solid #548DD4;
}
/* end of general */


/* Media queries */
@media (max-width: 750px) {
  .hidden-on-mobile {
    display: none;
  }
  .container {
      border:none;
  }
  .main-content {
    padding:4px !important;
  }
  body {
      padding-top:0;
      padding-bottom:0px;
  }
  .main-header {
      padding-bottom: 15px !important;
  }
  .values-group div:first-child {
      border-top: 1px solid #548DD4;
  }
  .values-group div {
      margin-bottom: 20px !important;
      margin-top: 0px !important;
      padding-top:10px !important;
  }
}

@media (max-width: 993px) {
  .hidden-on-993 {
    display: none;
  }

  .article-header .header-title {
    border-left:none !important;
    border-bottom: 1px solid#548DD4;
    padding-bottom: 30px !important;
    padding-top: 20px !important;
}
.alone {
    display: none;
}
.values {
    border-left: none !important;
}
.article-main .row .col-md-3 {
    font-size:20px;
    color: #548DD4;
}
.article-higlight .custom-border-left {
    border-left:none !important;
}

}


/* intro box */
.intro-box {
    font-size:18px;
    line-height: 30px;
}
.highlighted-row {
    border: 1px solid#548DD4;
    border-width:1px 0;
    /*background-color:#DBE5F1;*/
}
.intro-box > .row div {
    padding:2px;
    padding-left: 3px;
}

.custom-image {
    max-height: 250px;
    max-width: 250px;
    margin-top:-60px;
    border:2px solid #59171A;
}

/* intro box */

/* header */
.main-header {
    padding-bottom: 35px;
}
/* end header */


/* main container */

.container {
    background-color: white;
    border: 1px solid black;
    height: 100%;
    -webkit-box-shadow: -1px -2px 25px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px -2px 25px 3px rgba(0,0,0,0.5);
    box-shadow: -1px -2px 25px 3px rgba(0,0,0,0.5);
}

.main-content {
    padding:70px 100px;
}

/* end of main container*/

/* article */
.article-header {
    text-align: center;
}

.article-header .header-title {
    border-left:1px solid#548DD4;
    text-align: left;
    padding-bottom:50px;
    padding-top:40px;
}

.article-main .values {
     font-weight: normal;
     border-left:1px solid#548DD4;
     color: #525659;
     font-weight: bold;
}
.values-group {
    margin-bottom:20px;
    /*font-weight: 600;
    color: #525659;*/
}
.values-group div {
    color:black;
    font-weight: bold;
    margin-top:3px;
    margin-bottom:3px;
}

.values-group div span {
    font-weight: normal;
}

.article-higlight {
    font-size: 20px;
    background-color:#DBE5F1;
}

.article-expirience-main .topless-border {
    border: 1px solid#548DD4;
    border-width:0 1px;
}
.article-expirience-main .project-main {
    border-bottom: 1px solid#548DD4;
}
.project-main div, .project-role div{
    padding:10px;
}

.project-details {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-bottom:1px solid #548DD4;
    text-align: justify;
}

.project-main div:last-child, .project-role div:last-child {
    text-align: right;
}
.article-main .col-md-9, .article-main .col-md-3 {
    padding-top:10px;
    padding-bottom:10px;
}
.project-details .project-description div {
    color:#525659;
    font-weight: normal;
}

.project-details .project-description div span {
    font-weight: 600;
}



